name: scan-with-sonar-master
on:
    push:
        branches:
            - master
    workflow_dispatch:
jobs:
        avoid_reduncy:
            runs-on: ubuntu-latest
            steps:
                - name: Cancel Previous Redundant Builds
                  uses: styfle/cancel-workflow-action@0.9.1
                  with:
                      access_token: ${{ github.token }}

        main:
            runs-on: ubuntu-latest
            steps:
                - name: Checkout master branch
                  uses: actions/checkout@v3
                  with:
                      fetch-depth: 0
                      ref: master
                - name: Setup node
                  uses: actions/setup-node@v3
                  with:
                      node-version: 16
                - name: Install dependencies
                  run: npm install
                - name: Scan with sonar
                  uses: SonarSource/sonarcloud-github-action@master
                  env:
                        GITHUB_TOKEN: ${{ github.token }}
                        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                  with:
                      args: >
                      -Dsonar.branch.name=master
